/* General Cyber-Glow Styling */
body {
    background-color: #1a1a2e; 
    color: #e0e0e0; 
    font-family: 'Arial', sans-serif;
    padding: 20px;
}

h1 {
    color: #00f0ff; 
   
}

.todo-list {
    list-style: none;
    padding: 0;
}

.todo-list > li {
    margin-bottom: 15px;
    padding: 10px;
    border-left: 5px solid #ff416c; 
    background-color: #2c2c47;
    border-radius: 5px;
}

/* Sub-item list styling */
.sub-item {
    list-style: square;
    margin: 5px 0 0 30px;
    font-size: 0.9em;
}


.sub-item-link {
    text-decoration: none; 
}


.sub-item-link:link {
    color: #a4508b; 
    transition: color 0.1s ease-in-out, outline 0.1s ease-in-out; 
}


.sub-item-link:visited {
    color: #603070; 
}


.sub-item-link:hover {
    color: #00f0ff; 
    text-shadow: 0 0 5px #00f0ff; 
}

 
.sub-item-link:focus {
    outline: 2px solid #ff416c; 
    outline-offset: 2px;
    color: #ff416c; 
}


.sub-item-link:active {
    color: #ffde00; 
}